$primary-color: #64edfb;
$secondary-color: #2e9bcd;
// $background-primary-color : rgba(15, 26, 42, 1);
$background-secondary-color: #040020;
$background-primary-color: #040020;
$theme-color-1: #990000;
/////////////////////////////////////
$primary-bg-darker: #052738;
$primary-bg-lighter: #2a5d75;
$primary-bg: #1b3d4d;
$primary: #01929f;
$primary-lighter: #61bac2;
$primary-darker: #00808b;
$secondary: #e3b505;
$tertiary: #fb3640;
$light-bg: #f6faf4;
